
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;  
	border:0;   
	vertical-align:baseline;
}
/*HTML5 display-role reset for older browsers*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}

body{
	line-height:1;
    background:#7FFF00;} 

 
.main_wrapper{
width:1000px;
height:auto;
margin:auto;
background:green;
}

.header_wrapper{
width:1000px;
height:100px;
margin:auto;


}

#logo{background-color:white;float:left;height:98px; width:128px;}
#banner{float:right;height:99px; width:870px;}

 .menubar{
 width:1000px;
 height:53px;
 background:green;
 color:white;
 }

 #menu{
 padding:0;
 margin:0;
 line-height:35px;

 }
 
 #menu li{
 list-style:none;
 display:inline;
  float:left;
 }
 
 #menu a{
 text-decoration:none;
 color:white;
 padding:8px;
 margin:5px;
 font-size:18px;
 font-family:COMIC SANS MS;
 }
 
 #menu a:hover{color:black;background:#7FFF00;list-style:none;text-decoration:none;padding:6px;}
 
 #form{float:right; padding-right:8px; line-height:37px;}
 
 .content_wrapper{
 width:1000px;
 margin:auto;
 background:pink;
 }

 #content_area{
 width:800px;
 float:right;
 background:white;
 }
 
 #sidebar{
 width:200px;
 background:green;
 float:left;
 }
 
 #sidebar_title{
 background:white;
 color:black;
 font-size:22px;
 font-family:arial;
 padding:10px;
 text-align:center;
 }
 
#cats{
text-align:end;  
}
#cats li{
list-style:none;
margin:0px;
padding:7px;
}
#cats a{color:white;padding:5px;
    margin:4px;text-align:center;
    font-size:17px;
    text-decoration:none;
    font-family:comic sans ms;
}
#cats a:hover{
color:black;
background:#7FFF00;
list-style:none;
text-decoration:none;
padding:3px;
}
 
 #products_box{
 width:780px;
 text-align:center;
 margin-left:30px;
 margin-bottom:10px;
 }
 
		#single_product {float:left; margin-left:20px; padding:10px;}
	
		#single_product img {border:2px solid black;}
		
		
		#shopping_cart {width:800px; height:42px; background:black; color:white;}
 
 #footer{
 width:1000px;
 height:70px;
 background:#808080;
 clear:both;
 }

